@import url(../../variables.css);

.assembly-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: var(--background-foreground-color);
    gap: 2.5rem;
    padding: 2.5rem 0;
}

.assembly-content {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--main-color);
    width: 90%;
    max-width: 1200px;
    padding: 1.5rem;
}

.assembly-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.assembly-buttons button {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--background-main-color);
    background-color: var(--web-orange-500);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    flex: 1 1 auto;
    min-width: 200px;
    max-width: 300px;
}

.assembly-buttons button:hover {
    background-color: var(--foreground-color);
    transform: scale(1.05);
}

.obras-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.obras-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.obras-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.obras-card-description {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

.obras-card-dates p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.obras-card-dates strong {
    color: #007BFF;
}

@media (max-width: 1024px) {
    .assembly-buttons {
        flex-direction: row;
        gap: 1rem;
    }

    .assembly-buttons button {
        width: auto;
        flex-grow: 1;
    }

    .obras-card {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .assembly-page {
        padding: 1.5rem;
    }

    .assembly-content {
        padding: 1rem;
    }

    .assembly-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }

    .assembly-buttons button {
        width: 100%;
        min-width: unset;
    }

    .obras-card {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .obras-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .obras-card-title {
        font-size: 16px;
    }

    .obras-card-description,
    .obras-card-dates p {
        font-size: 12px;
    }

    .assembly-buttons button {
        padding: 0.75rem;
        font-size: 0.9rem;
    }
}
